################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/BleTextSender/obj/Debug
/T-Display_MagicMiniTeleprompter/.vs/T-Display_MagicMiniTeleprompter
